<div class="table-responsive-sm">
<table class="table">
    <thead class="table-header">
      <tr>
        <th scope="col">Comments</th>
        <th scope="col">Vote count</th>
        <th scope="col">Upvote</th>
        <th scope="col">News Details</th>
      </tr>
    </thead>
    <tbody class="table-body">
    <ng-container *ngFor="let post of newsPost">
        <tr [hidden]="post.hideElement">
            <!-- <th scope="row">1</th> -->
            <td>{{post.num_comments}}</td>
            <td>{{post.points}}</td>
            <td><button (click)="upVote(post.objectID)">
                <span class="fa fa-caret-up"></span>
            </button></td>
            <td>
            {{post.title}}
            <span class="link"><a [href]="post.url">
             {{ '('+ post.shortUrl+ ')'}} by 
            </a>
            <p>{{post.author}}</p>
            {{diff_hours(post.created_at)}} hours ago 
            <a (click)="hidePost(post.objectID)"> [hide]</a>
           </span>
            </td>
          </tr>
    </ng-container>
    </tbody>
  </table>
</div>