<div class="post-wrapper">
<table class="table">
    <thead class="table-header">
      <tr>
        <th scope="col">Comments</th>
        <th scope="col">Vote count</th>
        <th scope="col">Upvote</th>
        <th scope="col">News Details</th>
      </tr>
    </thead>
    <tbody class="table-body">
    <ng-container *ngFor="let post of newsPost">
        <tr [hidden]="post.hideElement">
            <!-- <th scope="row">1</th> -->
            <td>{{post.num_comments}}</td>
            <td>{{post.points}}</td>
            <td><button (click)="upVote(post.objectID)">
                <span class="fa fa-caret-up"></span>
            </button></td>
            <td>
            {{post.title}}
            <span class="link"><a [href]="post.url">
             {{ '('+ post.shortUrl+ ')'}} by 
            </a>
            <p>{{post.author}}</p>
            {{diff_hours(post.created_at)}}
            <a (click)="hidePost(post.objectID)"> [hide]</a>
           </span>
            </td>
          </tr>
    </ng-container>
    </tbody>
  
  </table>
  
</div>
<div>
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="count===1?'disabled': ''">
        <a class="page-link" tabindex="-1" (click)="previousClicked()">Previous</a>
      </li>
      <li class="page-item"> 
        <span class="page-link">|</span>
      </li>
      
      <li class="page-item">
        <a class="page-link" (click)="nextCliked()">Next</a>
      </li>
    </ul>
  </nav>
</div>
  
  
