.wrapper{
    overflow-x: hidden;
    .post-wrapper{
        overflow-x: scroll;
    }
}
#chartContainer{
    overflow-x: hidden;
}
.table-header{
    background-color: #EF6537;
    color : #fff;
    font-size: 14px;
}

.table-body{
    background-color: #F6F6EF;
   button{
        background-color: transparent;

        border: none;
       
    }
    span{
        color : #9A9A9A !important;
        a{
            color : #9A9A9A !important;
            cursor: pointer;
        }
        p{
            display: inherit;
            color: black;
        }
    }
    tr:nth-child(even){
        background-color: #E5E4DD;
    }
}
.pagination{
    display: flex;
    button: {
        border: none !important;
    }
    .page-item{
        .page-link{
            color: #EF6537;
            border:none;
            cursor: pointer;
            background-color: inherit;
        }
        .page-link{
            color: 9A9A9A
        }
    }
}
table{
    margin-bottom: 0rem !important;
    border-bottom: 4px solid #EF6537;
   
}
nav{
    background-color: #F6F6EF;
    ul{
        margin-block-end: 0rem;
    }
}
@media only screen and (max-width: 600px) {
    table {
    font-size: 10px;
    }
  }
  .disabled{
      color: #9A9A9A;
  }


